.nav {
  padding-block: 30px;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(lg) {
      max-width: 900px;
    }
    @include breakpoint(md) {
      max-width: 300px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    img {
      height: 80px;
    }
    a {
      > span {
        position: relative;
        bottom: 50px;
        left: -5px;
        text-transform: uppercase;
        font-weight: 900;
        color: #e18b1f;
      }
    }
  }
  &__list {
    display: flex;
    &__link {
      &:not(:last-child) {
        margin-right: 30px;
      }
      > a {
        color: #e18b1f;
      }
    }
  }
}
